/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e6f0ff; /* Neutral slightly darker blue background */
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #1e90ff; /* Adjusted blue color */
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
}

.navbar-links a {
    margin: 0 70px;
    text-decoration: none; 
    color: white; 
    font-weight: bold;
}

.navbar-links a:hover {
    color: lightblue; 
}

.profile {
    display: flex;
    align-items: center;
    position: relative;
}

.profile-icon {
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    z-index: 10;
}

.profile-dropdown a {
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-weight: bold; 
}

.profile-dropdown a:hover {
    background-color: #ddd;
    text-decoration: underline; /* Underlines the text on hover */
}

/* Container Styles */
.container {
    width: 50%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #5cb85c; /* Green submit button */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #4cae4c;
}

input[type="reset"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #d9534f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="reset"]:hover {
    background: #c9302c;
}

footer {
    background-color: #1e90ff; /* Adjusted blue color */
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-container {
    margin: 0 auto;
}
